{% extends 'layout.html' %}

{% block main %}
    {% if rows|length > 0 %}
        <table>
        <thead>
            <tr>
                <th scope="col">
                    Id
                </th>
                <th scope="col">
                    Name
                </th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td scope="row">
                        {{ row.id }}
                    </td>
                    <td>
                        {{ row.name }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No registrants</p>
    {% endif %}
{% endblock %}